<!DOCTYPE html>
<html lang="en">

<head>

<title>Geek Text - Books</title>

<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
	<div class="row site-nav">
		<div class="col-md-12">
			<div class="logo">
				<a href="index"><h1>Geek Books</h1></a>
			</div>
			<ul class="nav-list">
				<li><a href="books.html">Browse</a></li>
				<li><a href="#">Account</a></li>
				<li><a href="#">Cart</a></li>
			</ul>
		</div>
	</div>

	<div class="row books-details">
		<div class="col-sm-4">
			<div class="radio col-sm-6" style="display: inline;">
				<h3 style="display: inline;">
					<input type="radio" name="optradio" checked="checked">Browse
					All
				</h3>
			</div>
			<div class="radio col-sm-6" style="display: inline;">
				<h3 style="display: inline;">
					<input type="radio" name="optradio">Top Seller
				</h3>
			</div>
		</div>
		<div class="col-sm-2">
			<label>View</label> <select>
				<option value="10" selected="selected">10</option>
				<option value="20">20</option>
			</select>
		</div>
		<div class="col-sm-2 sort-button">
			<div class="dropdown">
				<button type="button" class="btn dropdown-toggle"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Title Asc.</a> <a
						class="dropdown-item" href="#">Title Desc.</a> <a
						class="dropdown-item" href="#">Author</a> <a class="dropdown-item"
						href="#">Price</a> <a class="dropdown-item" href="#">Rating</a> <a
						class="dropdown-item" href="#">Release Date</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">

			<form class="navbar-form" role="search">
				<div class="input-group">
					<input type="text" class="form-control" name="srch-term"
						id="srch-term">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit">Search</button>
					</div>
				</div>
			</form>

		</div>
	</div>

	<div class="row books-row">
		<div class="col-md-2 books-sidebar">

			<div class="col-md-12 books-sidewidget">
				<h3>Genre</h3>
				<div class="checkbox">

				</div>
			</div>

			<div class="col-md-12 books-sidewidget">
				<h3>Rating</h3>
				<div class="radio">
					<label><input type="radio" name="optradio">4 and Up</label>
				</div>
				<div class="radio">
					<label><input type="radio" name="optradio">3 and Up</label>
				</div>
				<div class="radio">
					<label><input type="radio" name="optradio">2 and Up</label>
				</div>
				<div class="radio">
					<label><input type="radio" name="optradio">1 and Up</label>
				</div>
				<div>
					<small>Clear</small>
				</div>
			</div>
		</div>

		<div class="col-md-10 books-mainside">


			<div class="row books-book">
				<c:set var="pageListHolder" value="${bookList}" />
				<c:forEach items="${pageListHolder.pageList}" var="book">
					<div class="col-sm-3">
						<div class="col-sm">
							<img src="resources/img/bookcover/${book.bookid}.png">
						</div>
					</div>
					<div class="col-sm-3">

					</div>
					<div class="col-sm-3">

					</div>
					<div class="col-sm-3">
						<a href="#"><p class="btn btn-full">See More</p></a>
					</div>

				</c:forEach>
			</div>
			<div class="row page-index">
				<div class="col-md-4"></div>
				<div class="col-md-4" style="margin-left: 50px;">
					<nav aria-label="Page navigation example text-xs-center">
						<ul class="pagination">
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
							</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
									class="sr-only">Next</span>
							</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-md-4"></div>

			</div>

		</div>


	</div>



	<div class="row footer">
		<div class="col-sm-6 footer-left">
			<ul class="footer-list">
				<li><a href="index.html">Home</a></li>
				<li><a href="books.html">Browse</a></li>
				<li><a href="top-sellers.html">Top Sellers</a></li>
				<li><a href="#">Account</a></li>
				<li><a href="#">Cart</a></li>
			</ul>
		</div>
		<div class="col-sm-6 footer-right">
			<h5>Team Marvelous</h5>
			<p>
				Software Engineering 1<br>Professor Alex Roque<br>Fall
				2017
			</p>
		</div>
	</div>

</body>

</html>
